<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/about.css" />
        <title>Document</title>
    </head>
    <body>
        <header class="main-header">
            <div class="header-content">
                <div class="logo">
                    <h1 class="logo-heading">SMURF-G</h1>
                </div>
                <div>
                    <ul class="menu">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/class">Study</a></li>
                        <li class="menu-item"><a
                                href="/favourites"
                            >Favourite</a></li>
                        <li class="menu-item current"><a
                                href="/about"
                            >About</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container">
            <h1>About</h1>
            <p>This project focuses on building a simple study-guide app. The
                proposed app will serve study-materials for various topics and
                subjects. The main data-structure that I’ll be focusing on for
                this project is Maps.
            </p>
            <br />
            <p>
                In this project we will build the map to store subjects, topics,
                and relevant information about them. Language for this project
                will be JavaScript. Other data-structures like arrays - for
                storing personalized data(like imp marked subjects), etc. might
                be used as per the need.
            </p>
        </div>

    </body>
</html>