<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/favourites.css" />
        <title>Document</title>
    </head>
    <body>
        <header class="main-header">
            <div class="header-content">
                <div class="logo">
                    <h1 class="logo-heading">SMURF-G</h1>
                </div>
                <div>
                    <ul class="menu">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/class">Study</a></li>
                        <li class="menu-item current"><a
                                href="/favourites"
                            >Favourite</a></li>
                        <li class="menu-item"><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <h1>Your Favourites</h1>
            <div class="display-div">
                <ul class="favourite-list"></ul>
            </div>
        </div>
        <script src="/js/favourites.js"></script>
    </body>
</html>