<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <h1 class="main-heading">SMURF-G</h1>
            <h3 class="main-subtitle">Smart Minds Your Friend Guide</h3>
            <a id="study" href="class" class="study-button">STUDY</a>
            <a
                id="favourites"
                href="favourites"
                class="study-button"
            >FAVOURITES</a>
            <form class="search-form">
                <input
                    class="form-input"
                    type="text"
                    placeholder="Search chapter"
                />
                <input type="submit" class="form-btn" value="Search" />
            </form>
        </div>
        <script src="./js/index.js"></script>
    </body>
</html>